<div class="row">
  <div class="twelvecol">
    <h1>Search</h1>

    <p id="notice"><strong>Oops!</strong> An error occurred trying to run your search. Please try again later. <%= link_to "Go back.", :back %></p>
  </div>
</div>