<h1>Editorial Policy</h1>

<h2>Overview</h2>

<p>The editorial collective is a group of volunteers responsible for maintaining the content areas of the Aotearoa IMC website. This includes looking after the newswire, and coordinating features. We work with five guiding editorial aims:</p>

<ol>
<li>To provide an unmoderated, open-publishing newswire in accordance with our aims and ethos.</li>
<li>To maintain the newswire and website as a community space that welcomes members of disempowered or marginalised groups. This includes hiding posts that incite violence to members of the community.</li>
<li>To acknowledge that words have the power to cause injury, but that instances of injurious speech or writing should also be seen as opportunities for a critical or insurrectionary response.</li>
<li>To preserve the quality of the website as a useful media resource</li>
<li>To create a media space that respects people's rights to engage in free and open dialogue.</li>
</ol>

<p>Aotearoa IMC hosts an open-publishing newswire, and postings to the Aotearoa IMC newswire are unmoderated. Members of the editorial collective regularly monitor the newswire, keeping their eyes open for particularly significant, informative contributions to add to the front page's centre-column feature section. From time to time there will be a call out for articles around specific issues.</p>

<h2>A working definition of Open Publishing (OP)</h2>

<p>Open publishing means that the process of creating news is transparent to the readers. They can contribute a story and see it instantly appear in the pool of stories publicly available. Those stories are filtered as little as possible to help the readers find the stories they want. Readers can see editorial decisions being made by others. They can see how to get involved and help make editorial decisions.</p>

<p> While committed to maintaining the open nature of the newswire, as noted above, in circumstances contrary to the editorial policy of AIMC the editorial collective may reclassify news postings as comments, or remove them from view. You can monitor decisions made by the editorial collective by viewing the <a href="/submissions">submissions page</a> which is unfiltered. The specific procedures by which the collective makes such decisions, and details of IMC policy on this subject, are spelled out below. If you disagree with the content of a particular article that someone has posted or can provide further relevant information, you may comment on the article through the "add your own comments" link at the bottom of each post.</p>


<h2>Newswire Publishing</h2>

<p>In accordance with the Aotearoa IMC's over all mission, the online newswire is designed to give people the tools to become independent journalists by providing a direct, unmoderated forum for presenting media, including text articles, audio and video recordings, and photographs, to the public via the internet. Within that general framework, we specifically encourage individuals to publish:</p>

<ul>
<li>Researched, timely articles; </li>
<li> Eyewitness accounts of progressive actions and demonstrations; </li>
<li> Coverage of local regional, national and international issues and events </li>
<li> Media analysis; </li>
<li> Investigative reports exposing injustice; </li>
<li> Stories about events affecting under-represented groups; </li>
<li> Media produced by under-represented groups; </li>
<li> Local stories with national or global significance; </li>
<li> Stories about people or projects working towards social and economic justice. </li>
</ul>

<p>The views expressed and content of postings to Aotearoa IMC Newswire are the responsibility of the authors.</p>

<h2>Newswire Publishing Languages</h2>

<p>Te Reo Maori and English are the two languages of this land. In the interests of "Dialogue, Decode, Decolonize", people are encouraged to post articles in both Te Reo Maori and English.</p>

<h2>Copyleft</h2>

<p>We aim to create our own commons of expressly copyleft so that contributions to this site will be free for re-use. Unless otherwise specified, everything on this website is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. For more information, check out <a href="http://creativecommons.org">Creative Commons</a>.

<h2>Editorial Process for Hiding Newswire Posts</h2>

<p>This policy explains the process by which postings to the Aotearoa IMC newswire may be hidden, or removed from view, by members of the editorial collective under certain conditions.</p>

<h3>A. Problems That Do Not Require Notification</h3>

<ul>
<li>Posts containing no content.</li>
<li>Unreadable formats (ie. photos posted as text).</li>
<li>Posts titled "test."</li>
<li>Pornography, excepting sexually explicit satire.</li>
<li>Duplicate carbon copy posts.</li>
<li>Profit Motivated advertising or job descriptions.</li>
<li>Commercial media repostings available elsewhere online (these will be moved to the otherpress section).</li>
<li>Designated spammers.</li>
<li>Racist, sexist, homophobic and/or pornographic comments unrelated to or contributing no substantial value to the topic under discussion.</li>
<li>Clearly off-topic postings (refer to A-IMC aims).</li>
<li>Abusive comments or articles</li>
</ul>

<p>Process for hiding posts that do not require notification:</p>

<ol>
<li>An empowered editor (active member of the editorial collective) identifies a posting as a problem and immediately hides it.</li>
<li>The editor appends a comment to the hidden article explaining why it was hidden.</li>
</ol>

<h3>B. Problems Requiring Discussion</h3>

<p>To be dealt with on a case by case basis. Maintaining openness is a fundamental goal of the policy. Where consensus is not achieved within the editorial collective about the removal of a post, the post is then unhidden.
</p>

<p>Potential problems identified so far include:</p>

<ul>
<li>Posts the author has requested hidden.</li>
<li>Persistent nuisance posts to the newswire or comments sections.</li>
<li>Posts that are deemed to be devoid of content or analysis and appear to be published with the sole purpose of disruption.</li>
<li>Content that is borderline profit motivated advertising.</li>
<li> Copyrighted or other illegally duplicated content that exceeds the bounds of fair use.</li>
<li> Sexually explicit satire.</li>
<li> Deliberate misinformation and impersonation.</li>
</ul>

<p>Process for hiding posts containing problems requiring discussion:</p>

<ol>
<li>An empowered editor (active member of the editorial collective) identifies a posting as a problem and immediately hides it, appending a comment to the posting explaining why it was hidden.</li>
<li>The editor alerts the editorial collective, notifying it that the post was hidden.</li>
<li>At least two additional editors must concur with the first editor's judgement, and none express disagreement, or, 24 hours must pass without any editor expressing disagreement, in order for the post to remain hidden. If consensus is not reached, the post is unhidden.</li>
</ol>

<h3>C. Spam Attack Procedure</h3>

<p>A spam attack is defined as a pattern of abuse of the newswire by a particular poster. If the editorial collective reaches consensus that a specific individual is launching a spam attack on the AIMC newswire, the spammer's post(s) may be hidden from the newswire by a member of the editorial collective. Each instance of recognized spam will be considered individually, and the reason why the editorial collective perceives the post(s) as spam will be stated on the editorial list. When a member of the editorial collective hides a post, (s)he shall immediately notify the editorial listserv.</p>

<p>It is to be noted that because IMC's are open publishing sites, posts may be made that are not readily identifiable as being from the same person. It is the responsibility of the editor raising the issue of a potential spammer to list the <em>trademark spam patterns</em> of that potential spammer. If the Editorial collective agrees this author is spamming the A-IMC site, their <em>trademark spam patterns</em> will be recorded on a page of the A-IMC site, currently <a href="http://docs.indymedia.org.nz/doku.php?id=spammer_list">here</a>.</p>

<h3>D. Banning authors</h3>

<p>In extreme circumstances the Editorial Collective may ban authors from publishing. This action is only taken when the Editorial Collective has exhausted all other methods to deal with a problem spammer, and they are causing significant disruption on the newswire. Only designated spammers may be banned.</p>

<p>An author may be banned for 3 months, 6 months or indefinitely. This can revoked at any time when consensus is reached by the collective.</p>

<p>Process for banning an author:</p>

<ol>
<li>An empowered editor proposes to the Editorial Collective that the author be banned from publishing, and outlines the reasons for banning. The proposal should also include a duration for banning, starting with the 3 month period option, adopting the 6 month ban if the author resumes breaching the editorial policy once access to the site has resumed, and finally an indefinite ban if behaviour persists.</li>
<li>The Editorial Collective reaches consensus, deciding that all other avenues have been exhausted.</li>
<li>A further proposal is sent to the general Aotearoa IMC list by the Editorial Collective, outlining why the author should be banned and what actions the Editorial Collective has taken previously to mitigate the disruption caused by the author.</li>
<li>If possible, the Editorial Collective emails the author notifying them that they will be banned if they continue to breach the Editorial Policy. The email will also contain examples of previous unacceptable posts for clarification.</li>
<li>When consensus is reached, a member of the Editorial Collective emails the author informing them that they have been banned, the reason and the duration.</li>
<li>The Editorial Collective notes the duration and the date the author was banned on the <a href="http://docs.indymedia.org.nz/doku.php?id=spammer_list">SpammerList</a> wiki page.</li>
</ol>

<h3>E. Unanticipated Problems</h3>

<p>This category accomodates the evolutionary nature of our editorial policy; future postings containing unforeseen problems may require editors to intervene, and then to further refine our policy.</p>

<p>Process for hiding posts containing unanticipated problems:</p>

<ol>
<li>An empowered editor identifies a posting as a problem and alerts the editorial collective, recommending that the post be hidden, and carefully articulating specific reasons why editorial policy should be changed to restrict the problem in question.</li>
<li>At least two additional editors must concur with the first editor's judgement, and none may express disagreement, or, 24 hours must pass without any editor expressing disagreement.</li>
<li>The editor hides the posting.</li>
<li>The editor appends a signed comment to the posting explaining why it was hidden.</li>
<li>The editor informs the collective that the post has been hidden.</li>
<li>The editor sends the author an explanatory letter (if email address is given), also forwarding it to the editorial collective.</li>
<li>The new restriction becomes, provisionally, part of editorial policy. As soon as possible, the editorial collective should critically discuss the provisional policy change, deciding whether and how to alter the written policy.</li>
<li>Online policy documents are altered to reflect changes in policy.</li>
</ol>

<p>We remind IMC participants that hidden articles are not deleted from the site. All hidden posts can be accessed through the <a href="/submissions">submissions page</a>.</p>

<h3>F. Blurring Faces</h3>

<p>For safety reasons, we have a policy of blurring the faces of activists in photos of anti-fascist demos and photos with potential legal ramifications. We request that you blur faces before uploading photos, if you need help with doing this feel free to contact us at <a href="mailto:aotearoa@indymedia.org">aotearoa@indymedia.org</a>.</p>

<p>If photos still requiring blurring are posted, an editor will remove the photo, blur the faces as needed and then re-add the photo.</p>

<p>If you are in a photo that is posted on Indymedia and want the photo removed or your face blurred, please contact us at <a href="mailto:aotearoa@indymedia.org">aotearoa@indymedia.org</a>. The editorial collective will discuss the matter and inform you of the decision reached.</p>

<h3>G. If you don't agree with a decision:</h3>

<p>We strive to make decisions in the most democratic, transparent and accountable manner. If you have any questions or concerns regarding our policy or our practice, please contact us at <a href="mailto:aotearoa@indymedia.org">aotearoa@indymedia.org</a>. In keeping with this, the editorial policy is to be reviewed at every Aotearoa Indymedia conference.</p>

