<h1>Join the Collective</h1>

<p>The Aotearoa Indymedia website is run by an editorial collective based in different places around the country. The collective does several different things: it is responsible for taking care of the technical parts of the website, it is responsible for upholding the editorial policy (and removing content that breaches it), and writing material for the site.</p>

<p>If you are interested in any of these aspects, please consider joining the collective. You do not need to have specialised technical skills to join the collective, but we welcome people who do.</p>

<p>The collective makes decisions by consensus (minus one). That means whenever we have to make a decision, everyone has to agree with the decision, except one person. We think this is a more democratic process than voting where a simple majority wins a vote. It also requires a high degree of willingness to discuss and debate constructively and cooperatively.</p>

<p>Most of our meetings are held in an on-line chat forum. We do have national gatherings from time to time. </p>

<p>If you are interested in joining the editorial collective, please email us at <a href="mailto:aotearoa@indymedia.org">aotearoa@indymedia.org</a>.</p>

<h2>Local Collectives</h2>

<p>We also encourage the formation of local Indymedia collectives. Alongside the wider Aotearoa Indymedia collective, there can also be local collectives in cities and towns around Aotearoa. The local collectives can do many things, including producing documentary films, running radio stations, publishing newspapers and organising film screenings. We always welcome new collectives, and each collective decides for itself what it wants to do. The process for adding new local collectives is detailed below.</p>

<p>Adding New Local Collectives:</p>

<ul>
<li>Two or more people decide they want to form a local Indymedia collective in an area which does not already have one.</li>
<li>At least one of these people joins the imc-aotearoa(at)lists[dot]indymedia[dot]org mailing list, and informs the list of their application.</li>
<li>They are sent the Draft Indymedia Principles Of Unity and Aotearoa Indymedia Mission Statement to read and discuss.</li>
<li>They email the imc-aotearoa(at)lists[dot]indymedia[dot]org list and announce they have agreed to the Principles Of Unity and acknowledged the Aotearoa Indymedia Mission Statement</li>
<li>There is 1 week in which anyone can make an objection on the imc-aotearoa(at)lists[dot]indymedia[dot]org list.</li>
<li>After a week, provided there are no reasonable objections, the collective is accepted.</li>
<li>A “buddy” collective is chosen from the pre-existing local collectives, whose responsibility it will be to send the new collective a “Welcome to Aotearoa Indymedia package” containing copies of relevant documents, stickers, leaflets and other cool stuff. The “buddy” collective will also assist the new collective in any other way they are able.</li>
</ul>

<p>If you are interested in forming a local collective, please email us at <a href="mailto:aotearoa@indymedia.org">aotearoa@indymedia.org</a>.</p>