<h1>Support Indymedia</h1>

<p>The Aotearoa Independent Media Center (IMC) is a grassroots organization committed to using media production and distribution as a tool for promoting social, economic and environmental justice.</p>

<p>We are part of a truly cooperative effort of hundreds of independent media organizations around the world. The IMC is not owned or funded by big conglomerates and advertisers. We need your support to sustain the project.</p>

<p>Please donate either financial assistance or equipment. Donations can be made to our kiwibank account:</p>

<p><small><strong>Account name:</strong> Auckland Doco Collective<br />
  <strong>Account number:</strong> 38-9001-0355461-00</small></p>

<p>We also accept cheques at the address:</p>

<p><small><strong>Auckland Doco Collective</strong><br />
  PO Box 9263<br />
  Wellington<br />
  Aotearoa New Zealand</small></p>

<p>We always need computers, monitors, cameras, audio equipment, and anything else you think might be valuable to a public media outlet.</p>

<p>If you would like to make a donation from overseas, please contact us at <a href="mailto:aotearoa@indymedia.org">aotearoa@indymedia.org</a>.</p>