<h1>What is Indymedia?</h1>

<p>Indymedia is medium for positive radical change. It is a totally independent media platform that allows users (like you!) to create stories, events, photo essays, and share information with others. Indymedia is run by a collective of individuals who volunteer their time for the project; there is zero corporate involvement and no advertising whatsoever.</p>

<p>The purpose of Indymedia is to create a space for the exchange of ideas and information about what is really going on in the world. It is about exposing the truth of global corporate greed and capitalist exploitation. It is about laying bare the reality of the world we live in. It is about creating an alternative to the spoon-fed mass media infotainment that passes for news. </p>

</p>The Indymedia network was founded in the heady days of the 1999 World Trade Organisation protests in Seattle, Washington. At that time, hundreds of thousands of people were protesting on the streets against devastating investor contracts that would see workers’ rights, environmental protections and social institutions gutted. When they watched the news, however, none of that was being reported. So a group of people got together to harness the direct power of the internet to tell the world what was really happening in Seattle.</p>

<p>From there, the network has grown to a world-wide network of collectives and web sites based around the same organising principles.</p>

<p><strong>Indymedia is about you.</strong> Indymedia survives by having a community of people committed to using it as a source and a vehicle for information and a tool for organising resistance. Indymedia only survives if you use it.</p>