<div class="row">
  <div class="twelvecol">

    <h1>This is the front page</h1>

    <% @articles.each do |article| %>
      <h2><%= link_to article.title, article %></h2>
      <p><%= article.summary %></p>
    <% end %>

  </div>
</div>