#content {
  .page-title {
    padding-bottom: 0.3em;
    border-bottom: 1px dashed $dark-brown;
  }

  .edit-own-article {
    font-size: 14px;
  }

  #image-feature {
    margin-bottom: 14px;
  }

  .sidebar {
    div {
      padding: 15px;
      background: $background-light;
      margin-bottom: 20px;
    }

    h3 {
      margin: 0;
    }
  }

  .attribution {
    .first-paragraph {
      font-size: 18px;
      margin-bottom: 0;
    }

    .last-paragraph {
      margin-top: 10px;
      font-size: 16px;
    }
  }

  .creative-commons {
    background: image_url('creative-commons.png') no-repeat 0 3px;
    padding-left: 100px;
    font-size: 11px;
    line-height: 1.1em;
    opacity: 0.5;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
  }

  .creative-commons:hover {
    opacity: 1;
  }

  .image-gallery {
    img {
      margin-top: 1em;
      width: 32%;
      padding: 0 5px;
    }
  }
}

img.border {
  padding: 1px;
  border: 1px solid #ccc;
}

.summary {
  font-size: 20px;
  line-height: 1.5em;
  border-left: 5px solid $link-color;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 0;
}

.body {
  font-size: 17px;
  line-height: 1.5em;
}

form.content {
  .field, .actions {
    background: $background-light;
    padding: 20px 20px;
    margin: 0;
  }

  label {
    font-size: 16px;
    margin-bottom: 0.7em;
  }

  div.file {
    padding: 1em 0;
    border-bottom: 1px dashed $link-color;
  }

  div.file input.text {
    width: auto;
  }

  div.file img {
    vertical-align: middle;
    margin-right: 2em;
  }

  .help {
    margin-top: 20px;
  }

  .first-help {
    margin-top: 0;
  }
}

