/* Example tokeninput style #2: Facebook style */
ul.token-input-list {
    overflow: hidden; 
    height: auto !important;
    z-index: 999;
    margin: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    /* My additions */
    padding: 4px 6px 3px;
    @include border-box;
    background: #fff;
    width: 100%;
    line-height: 1em;
    border: 1px #bbb solid;
    @include box-shadow(inset, 0, 0, 2px, #ccc);
}

ul.token-input-list li input {
    border: 0;
    width: 10px;
    padding: 0px 8px;
    background-color: white;
    margin: 6px 0 0;
    font-family: $body-fontstack !important;
    font-size: 15px;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 3px;
    padding: 3px 5px;
    background-color: $link-color;
    color: #fff;
    cursor: default;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token p {
    display: inline;
    font-size: 15px !important;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: $light-green;
}

li.token-input-input-token {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li.token-input-input-token tester {
    font-family: $body-fontstack !important;
}

div.token-input-dropdown {
    position: absolute;
    width: 200px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fff;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: $link-color;
    color: #fff;
}