<%= content_for(:title) { 'Page not found' } %>

<div id="page-not-found" class="row">
  <div class="eightcol first">
    <h1>Page not found</h1>

    <p>I'm sorry, I couldn’t find the page you were looking for.

    <p>We’ve recently upgraded our site and many old pages will no longer work. Try searching our old archived site at <a href="http://archive.indymedia.org.nz/">archive.indymedia.org.nz</a>.</p>

    <p>Or you can try searching this site using the search box up the top.</p>

    <p>If you believe this to be an error, please contact the Indymedia crew at <a href="mailto:editors@indymedia.org.nz">editors@indymedia.org.nz</a></p>
  </div>
</div>